<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if next %}
    <form action="/login?next={{next}}" method="POST">
    {% else %}
    <form action="/login" method="POST">
    {% endif %}
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
        {% if next %}
        <a href="/signup?next={{next}}">Register</a>
        {% else %}
        <a href="/signup">Register</a>
        {% endif %}
    </form>
</body>
</html>